.card{
	margin: .5rem auto;
	border: 1px solid $blueLight;
	border-radius: 8px;
	padding: 0 1rem;
	width: 87%;

	&__answer{
		color: #fff;
	}
}

@media (min-width: 767px){
	.card{
		flex: 0 45%;
		margin: .5rem 0;
	}
}

@media (min-width: 1141px){
	.card{
		flex: 0 30%;
		margin: .5rem 0;
	}
}
