.search {
	width: 100%;
	text-align: center;
	input {
		width: 90%;
		padding: .75rem;
		margin: 1rem;
		-webkit-appearance: none;
		border: 1px solid $blueLight;
		border-radius: 8px;
		background: $blueDark;
		color: #Fff;
		&:focus{
			outline: none;
		}
	}
}